<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Wait?</span>
            <h2 class="cs-title">Reach out today
                to learn more.</h2>
            <p class="cs-text">
                I'm here to help if you have any further questions about my therapy practice. I look forward to connecting!
            </p>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-image.jpeg" | resize({width: 375, height: 380}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/cta-image.jpeg" | resize({width: 1419, height: 492}) | webp %}">
        <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/cta-image.jpeg" | resize({width: 1419, height: 492, position:"bottom"}) | webp %}" alt="Amber and a friend walking." aria-hidden="true">
    </picture>
</section>
                                