<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Wait?</span>
            <h2 class="cs-title">Reach out today
                to learn more.</h2>
            <p class="cs-text">
                I'm here to help if you have any further questions about my therapy practice. I look forward to connecting!
            </p>
            <div class="cs-form"
            data-heyform-id="InlnG0LG"
            data-heyform-type="modal"
            data-heyform-custom-url="https://heyform.net/f/InlnG0LG"
            data-heyform-size="large"
            data-heyform-open-trigger="click"
            data-heyform-open-delay="5"
            data-heyform-open-scroll-percent="30"
            data-heyform-trigger-background="#F90"
            data-heyform-trigger-text="Open Form"
            data-heyform-hide-after-submit="false"
            data-heyform-auto-close="5"
        >
        <button class="heyform__trigger-button cs-button-solid" type="button" onclick="HeyForm.openModal('InlnG0LGModal')">Contact</button>
        </div>
        <script src="https://www.unpkg.com/@heyform-inc/embed@latest/dist/index.umd.js"></script>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-image.jpeg" | resize({width: 375, height: 380}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/cta-image.jpeg" | resize({width: 1419, height: 492}) | webp %}">
        <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/cta-image.jpeg" | resize({width: 1419, height: 492, position:"bottom"}) | webp %}" alt="Amber and a friend walking." aria-hidden="true">
    </picture>
</section>
                                