/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-401 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    background-color: #1a1a1a;
  }
  #contact-401 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-401 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #contact-401 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.25rem;
  }
  #contact-401 .cs-content {
    text-align: left;
  }
  #contact-401 .cs-title {
    color: var(--headerColor);
  }
  #contact-401 .cs-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-401 .cs-label {
    font-size: 0.875rem;
    width: 100%;
    color: var(--headerColor);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-401 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    color: var(--headerColor);
    background-color: rgba(106, 66, 93, 0.25);
    backdrop-filter: blur(22.5px);
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-401 .cs-input::placeholder {
    color: var(--bodyTextColorWhite);
    opacity: 0.6;
  }
  #contact-401 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-401 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--headerColor);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #contact-401 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #contact-401 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-401 .cs-submit {
    text-transform: uppercase;
    width: 17.6875rem;
    background-color: var(--headerColor);
    color: #fff;
    border: none;
    transition: color 0.3s;
  }
  #contact-401 .cs-submit:hover {
    color: #fff;
  }
  #contact-401 .cs-right {
    max-width: 39.375rem;
    width: 100%;
    /* 16px - 24px */
    padding: clamp(1rem, 2.3vw, 1.5rem);
    border-radius: 1.5rem;
    background-color: #484848;
    display: flex;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
  }
  #contact-401 .cs-map {
    width: 100%;
    /* 300px - 425px */
    height: clamp(18.75rem, 63.4vw, 26.5625rem);
    border-radius: 1.5rem;
    /* clips the corners of the img tag */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #contact-401 .cs-map img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #contact-401 .cs-contact-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }
  #contact-401 .cs-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-401 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin-right: auto;
    margin-bottom: 1rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  #contact-401 .cs-icon {
    width: 1.5rem;
    height: auto;
  }
  #contact-401 .cs-link,
  #contact-401 .cs-hours {
    /* 14px - 16px */
    font-size: clamp(0.775rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
  }
  #contact-401 .cs-link:hover {
    color: var(--secondaryLight);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-401 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    /* 44px - 80px */
    gap: clamp(2.75rem, 7vw, 5rem);
  }
  #contact-401 .cs-content {
    max-width: 32.625rem;
  }
  #contact-401 .cs-topper,
  #contact-401 .cs-title {
    text-align: left;
    margin-left: 0;
  }
  #contact-401 .cs-right {
    min-width: 22.5rem;
    width: 100%;
  }
  #contact-401 .cs-map {
    /* 250px - 400px */
    height: clamp(15.625rem, 30vw, 25rem);
  }
  #contact-401 .cs-submit {
    margin-left: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-401 .cs-email,
  #contact-401 .cs-phone {
    width: 48%;
  }
  #contact-401 .cs-right {
    width: 51.6%;
    /* prevent flexbox from squishing it */
    flex: none;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 64rem) {
  #contact-401 .cs-contact-group {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0rem;
    row-gap: 0.5rem;
  }
  #contact-401 .cs-item {
    width: 16.25rem;
    justify-content: flex-start;
  }
  #contact-401 .cs-item:nth-of-type(1) {
    width: 100%;
    text-align: left;
  }
  #contact-401 .cs-item:nth-of-type(3) {
    /* changing the order of our list so they are arranged like in the design */
    order: 4;
  }
  #contact-401 .cs-item:nth-of-type(4) {
    order: 2;
  }
  #contact-401 .cs-item:nth-of-type(5) {
    order: 5;
  }
  #contact-401 .cs-item:nth-of-type(4),
  #contact-401 .cs-item:nth-of-type(5) {
    width: 19.125rem;
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1661 {
    padding: var(--sectionPadding);
  }
  #steps-1661 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1661 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps-1661 .cs-title {
    /* 28px - 40px */
    margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
  }
  #steps-1661 .cs-picture {
    width: 100%;
    /* 320px - 600px */
    height: clamp(18.75rem, 43vw, 37.5rem);
    display: block;
    position: relative;
    z-index: 1;
  }
  #steps-1661 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #steps-1661 .cs-card-group {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #steps-1661 .cs-item {
    list-style: none;
    text-align: left;
    padding: 0 0 1.5rem 0;
    margin: 0;
    border-bottom: 1px solid var(--primary);
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
  }
  #steps-1661 .cs-item:last-of-type {
    padding: 0;
    border: none;
  }
  #steps-1661 .cs-number {
    font-size: 3.8125rem;
    line-height: 1.2em;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
    color: var(--headerColor);
    opacity: 0.6;
    display: block;
  }
  #steps-1661 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #steps-1661 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-navigation {
    width: 100vw;
  }
  #cs-navigation #interior-header {
    max-width: 100vw;
    background-color: #fff;
    margin: 0;
  }
  #steps-1661 .cs-container {
    max-width: 80rem;
  }
  #steps-1661 .cs-item {
    /* 24px - 32px */
    padding: 0 clamp(1.5rem, 3vw, 2rem);
    grid-column: span 4;
    border-bottom: 0;
    border-left: 1px solid var(--primary);
  }
  #steps-1661 .cs-item:last-of-type {
    padding: 0 clamp(1.5rem, 3vw, 2rem);
    border-left: 1px solid var(--primary);
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-strip-324 {
    padding: var(--sectionPadding);
    background: linear-gradient(0deg, rgba(106, 66, 93, 0.8) 0%, rgba(106, 66, 93, 0.6) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
  }
  #contact-strip-324 .cs-stat-group {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 37.5rem;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  #contact-strip-324 .cs-item {
    list-style: none;
    width: 18.125rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #contact-strip-324 .cs-item:hover .cs-picture {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.05);
  }
  #contact-strip-324 .cs-picture {
    width: 5rem;
    height: 5rem;
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 3vw, 1.25rem);
    border-radius: 50%;
    border: 1px solid #f90;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.6s;
  }
  #contact-strip-324 .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #contact-strip-324 .cs-icon {
    width: 1.75rem;
    height: auto;
  }
  #contact-strip-324 .cs-header {
    font-size: 1.25rem;
    color: var(--secondaryLight);
    font-weight: 900;
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-bottom: 0.75rem;
    display: block;
  }
  #contact-strip-324 .cs-link,
  #contact-strip-324 .cs-hours {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-decoration: none;
    color: var(--secondaryLight);
    font-family: 'Poppins', sans-serif;
    display: block;
  }
  #contact-strip-324 .cs-link:hover {
    text-decoration: underline;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #contact-strip-324 .cs-stat-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 2rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-strip-324 .cs-stat-group {
    max-width: 80rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
