/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1951 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    background: rgba(241, 189, 185, 0.15);
  }
  #hero-1951 .cs-container {
    width: 100%;
    /* changes to 1280px on desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #hero-1951 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #hero-1951 .cs-title {
    /* 31px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
  }
  #hero-1951 .cs-text {
    margin-bottom: 1.25rem;
  }
  #hero-1951 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--headerColor);
    overflow: hidden;
    color: #fff;
    border: none;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-1951 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1951 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1951 .cs-button-solid:hover {
    color: var(--headerColor);
  }
  #hero-1951 .cs-reviews {
    text-align: center;
    margin-top: clamp(2.5rem, 5vw, 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #hero-1951 .cs-reviews-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #hero-1951 .cs-reviews-img {
    width: 3rem;
    height: auto;
    margin: 0 -1rem 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  #hero-1951 .cs-reviews-number {
    font-size: 1rem;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-1951 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  #hero-1951 .cs-rating {
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #hero-1951 .cs-rating-icon {
    width: 1rem;
    height: auto;
    margin: 0 0.25rem;
  }
  #hero-1951 .cs-reviews-text {
    font-size: clamp(0.875rem, 1.75vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #hero-1951 .cs-image-group {
    font-size: min(2.3vw, 1rem);
    width: 39.375em;
    height: 43.125em;
    position: relative;
    z-index: 1;
  }
  #hero-1951 .cs-picture {
    width: 19.0625em;
    height: 37.5em;
    margin: 0;
    overflow: hidden;
    border-radius: 37.5em;
    display: block;
    position: absolute;
    top: 0.75em;
    left: 0;
    z-index: 1;
  }
  #hero-1951 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-1951 .cs-bg {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  #hero-1951 .cs-bg img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-1951 .cs-icon {
    width: 12.6875em;
    height: auto;
    position: absolute;
    top: 0;
    left: 13.125em;
  }
  #hero-1951 .cs-right {
    bottom: 0;
    top: auto;
    left: auto;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1951 .cs-reviews {
    text-align: left;
    flex-direction: row;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1951 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
  }
  #hero-1951 .cs-content {
    text-align: left;
    /* 48px - 80px */
    padding: clamp(3rem, 6vw, 5rem) 0;
    align-items: flex-start;
    align-self: center;
  }
  #hero-1951 .cs-image-group {
    font-size: min(1.12vw, 1rem);
    height: auto;
    min-height: 43.125em;
    flex: none;
  }
  #hero-1951 .cs-left {
    height: auto;
    top: 0.75em;
    bottom: 4.875em;
  }
  #hero-1951 .cs-right {
    height: auto;
    top: 5.625em;
    bottom: 0em;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1599 {
    padding: var(--sectionPadding);
    background: rgba(241, 189, 185, 0.15);
  }
  #sbsr-1599 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1599 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1599 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbsr-1599 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #sbsr-1599 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-1599 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #sbsr-1599 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1599 .cs-picture {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbsr-1599 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1599 .cs-picture1 {
    height: 95vw;
    max-height: 25rem;
  }
  #sbsr-1599 .cs-picture2 {
    height: 111vw;
    max-height: 31.25rem;
  }
  #sbsr-1599 .cs-stats-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 28px - 40px */
    gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  #sbsr-1599 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.5rem;
    column-gap: 0.75rem;
  }
  #sbsr-1599 .cs-stat {
    list-style: none;
    margin: 0;
    padding: 0 0 1.5rem 0;
    border-bottom: 1px solid var(--primary);
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbsr-1599 .cs-number {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: var(--headerColor);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #sbsr-1599 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1599 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1599 .cs-content {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-1599 .cs-picture1 {
    /* 340px - 460px */
    min-height: clamp(21.25rem, 35vw, 28.75rem);
    height: 100%;
    max-height: 100%;
  }
  #sbsr-1599 .cs-picture2 {
    /* 530px - 660px */
    min-height: clamp(33.125rem, 45vw, 41.25rem);
    height: 100%;
    max-height: 100%;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1591 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-1591 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    z-index: 1;
    /* Ensure this is higher than .cs-bg */
    position: relative;
    /* This ensures the container's z-index works */
  }
  #sbs-1591 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1591 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1591 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1591 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--headerColor);
    overflow: hidden;
    color: #fff;
    border: none;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbs-1591 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1591 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1591 .cs-button-solid:hover {
    color: var(--headerColor);
  }
  #sbs-1591 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
    font-size: min(1.959vw, .745em);
    width: 39.375em;
    /* we set a minimum height so it never gets smaller than this value */
    min-height: 39.25em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1591 .cs-picture {
    position: absolute;
  }
  #sbs-1591 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1591 .cs-picture1 {
    /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
    width: 25.8125em;
    height: 79.617834%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1591 .cs-picture2 {
    width: 25.8125em;
    height: 44.585987%;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  #sbs-1591 .cs-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    /* Adjust opacity as needed */
    background-color: lightgrey;
    overflow: hidden;
  }
  #sbs-1591 .cs-bg img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1591 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1591 .cs-content {
    /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
    padding: 3.75rem 0;
    /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
    align-self: center;
  }
  #sbs-1591 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1360 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 11;
    background: rgba(241, 189, 185, 0.15);
  }
  #sbs-1360 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 39.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #sbs-1360 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #sbs-1360 .cs-topper {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    color: #767676;
  }
  #sbs-1360 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 25ch;
  }
  #sbs-1360 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #sbs-1360 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1360 .cs-h3 {
    /* 16px - 30px */
    font-size: clamp(1rem, 2.4vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    max-width: 37ch;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 1.6vw, 1.5rem);
    color: var(--primary);
  }
  #sbs-1360 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1360 .cs-button-solid:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1360 .cs-button-solid:hover {
    color: var(--primary);
  }
  #sbs-1360 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1360 .cs-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  #sbs-1360 .cs-bubbles {
    width: 29.625rem;
    height: 20.625rem;
    position: absolute;
    /* changes to 160px at larger desktop */
    left: -16.25rem;
    bottom: -8.75rem;
    z-index: -1;
  }
  #sbs-1360 .cs-bubbles:before {
    /* white border bubble */
    content: '';
    width: 20.625rem;
    height: 20.625rem;
    background: transparent;
    border: 1px solid #1A1A1A;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbs-1360 .cs-bubbles:after {
    /* orange bubble */
    content: '';
    width: 16.25rem;
    height: 16.25rem;
    background: var(--primary);
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 1.875rem;
    right: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbs-1360 .cs-picture {
    width: 100%;
    height: 20.5rem;
    /* clips the corners of the img tag */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #sbs-1360 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #sbs-1360 {
    padding-bottom: 0;
  }
  #sbs-1360 .cs-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  #sbs-1360 .cs-content {
    width: 85%;
    order: -1;
  }
  #sbs-1360 .cs-picture {
    width: 45%;
    max-width: 19.0625rem;
    margin-bottom: 3.75rem;
    margin-left: 3.75rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1360 {
    padding-top: 0;
  }
  #sbs-1360 .cs-container {
    max-width: 90rem;
    flex-wrap: nowrap;
  }
  #sbs-1360 .cs-content {
    /* 80px - 140px */
    padding: clamp(5rem, 10vw, 8.75rem) 0;
    order: initial;
  }
  #sbs-1360 .cs-picture {
    width: 37%;
    /* 230px - 340px */
    height: clamp(14.375rem, 24vw, 21.25rem);
  }
  #sbs-1360 .cs-picture1 {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 3.75rem;
    margin-right: 3.75rem;
  }
  #sbs-1360 .cs-picture2 {
    align-self: flex-end;
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbs-1360 .cs-bubbles {
    margin-right: 31.25rem;
    left: auto;
    right: 50%;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-346 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #services-346 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-346 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-346 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-346 .cs-item {
    list-style: none;
    width: 100%;
    min-height: 328px;
    max-width: 31.25rem;
    /* 32px - 40px top & bottom */
    /* 28px - 40px left & right */
    padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
    border-radius: 1rem;
    background-color: #f2f2f275;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  #services-346 .cs-item:hover {
    background-color: #fff;
    box-shadow: 0px 0px 120px 0px rgba(241, 189, 185, 0.5);
    transform: translateY(-0.4375rem);
  }
  #services-346 .cs-item:hover .cs-picture:before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  #services-346 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #services-346 .cs-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff5e6;
    position: relative;
    z-index: 1;
  }
  #services-346 .cs-icon {
    height: 2rem;
    width: auto;
  }
  #services-346 .cs-h3 {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-346 .cs-item-text {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
  #services-346 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--headerColor);
    overflow: hidden;
    color: #fff;
    border: none;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #services-346 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-346 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-346 .cs-button-solid:hover {
    color: var(--headerColor);
  }
  #services-346 .cs-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
    /* Adjust opacity as needed */
    background-color: lightgrey;
    overflow: hidden;
  }
  #services-346 .cs-bg img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-346 .cs-card-group {
    flex-direction: row;
    justify-content: center;
  }
  #services-346 .cs-item {
    /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
    width: 50%;
    max-width: 18.75rem;
    min-height: 368px;
  }
  /* Large Desktop 1600px */
}
@media only screen and (min-width: 48rem) and only screen and (min-width: 55rem) {
  #services-346 .cs-item {
    width: 30%;
    max-width: 18.75rem;
  }
}
/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1371 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(241, 189, 185, 0.15);
  }
  #why-choose-1371 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-1371 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-1371 .cs-title {
    max-width: 23ch;
  }
  #why-choose-1371 .cs-text {
    max-width: 52.5rem;
    margin-bottom: 1rem;
  }
  #why-choose-1371 .cs-text:last-of-type {
    margin-bottom: 0rem;
  }
  #why-choose-1371 .cs-text strong {
    color: var(--headerColor);
  }
  #why-choose-1371 .cs-item-picture {
    list-style: none;
    width: 100%;
    grid-column: span 12;
    position: relative;
  }
  #why-choose-1371 .cs-picture {
    width: 100%;
    height: 26.125rem;
    border-radius: 1.5rem;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1371 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1371 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch6;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #why-choose-1371 .cs-item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    transition: background-color 0.3s;
  }
  #why-choose-1371 .cs-item:hover {
    background-color: var(--headerColor);
  }
  #why-choose-1371 .cs-item:hover .cs-h3,
  #why-choose-1371 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  #why-choose-1371 .cs-item:hover .cs-item-text {
    opacity: 0.8;
  }
  #why-choose-1371 .cs-item:hover .cs-h3-icon {
    filter: grayscale(1) brightness(1000%);
  }
  #why-choose-1371 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #why-choose-1371 .cs-h3-icon {
    width: 1.5rem;
    height: auto;
    margin-top: 2px;
    display: block;
  }
  #why-choose-1371 .cs-item-text {
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s, opacity 0.3s;
  }
  #why-choose-1371 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--headerColor);
    overflow: hidden;
    color: #fff;
    border: none;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1371 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #why-choose-1371 .cs-button-solid:hover:before {
    width: 100%;
  }
  #why-choose-1371 .cs-button-solid:hover {
    color: var(--headerColor);
  }
  #why-choose-1371 .cs-bubbles1 {
    width: 26.1875rem;
    height: 26.6875rem;
    position: absolute;
    left: -16.25rem;
    top: -15rem;
    z-index: -1;
  }
  #why-choose-1371 .cs-bubbles1:before {
    /* white border bubble */
    content: "";
    width: 20.625rem;
    height: 20.625rem;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-1371 .cs-bubbles1:after {
    /* orange bubble */
    content: "";
    width: 16.25rem;
    height: 16.25rem;
    background: var(--primary);
    opacity: 0.1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-1371 .cs-bubbles2 {
    width: 26.1875rem;
    height: 26.6875rem;
    display: block;
    position: absolute;
    /* changes to 160px at larger desktop */
    right: -11.25rem;
    bottom: -8.75rem;
    z-index: -1;
  }
  #why-choose-1371 .cs-bubbles2:before {
    /* white border bubble */
    content: "";
    width: 20.625rem;
    height: 20.625rem;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-1371 .cs-bubbles2:after {
    /* orange bubble */
    content: "";
    width: 16.25rem;
    height: 16.25rem;
    background: var(--primary);
    opacity: 0.1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1371 .cs-item {
    grid-column: span 4;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1371 .cs-item-picture {
    grid-column: 4 / span 6;
    grid-row: 1 / span 3;
  }
  #why-choose-1371 .cs-picture {
    height: 100%;
  }
  #why-choose-1371 .cs-item {
    grid-column: span 2;
  }
  #why-choose-1371 .cs-item:nth-of-type(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(2) {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(3) {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(5) {
    grid-column: 10 / span 3;
    grid-row: 1 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(6) {
    grid-column: 10 / span 3;
    grid-row: 2 / span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(7) {
    grid-column: 10 / span 3;
    grid-row: 3 / span 1;
  }
  #why-choose-1371 .cs-bubbles1 {
    left: -8.125rem;
    top: -9.375rem;
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #why-choose-1371 .cs-bubbles1 {
    margin-right: 40.625rem;
    left: auto;
    right: 50%;
  }
  #why-choose-1371 .cs-bubbles2 {
    margin-left: 37.5rem;
    left: 50%;
    right: auto;
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-2070 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #faq-2070 .cs-container {
    width: 100%;
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #faq-2070 .cs-image-group {
    font-size: min(2.97vw, 1rem);
    /* 400px - 480px */
    width: clamp(25em, 45vw, 30em);
    /* 272px - 358px */
    height: clamp(17em, 34vw, 22.375em);
    margin-bottom: 3.5rem;
    border-radius: 0.5rem 0.5rem 17.625rem 17.625rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #faq-2070 .cs-picture {
    width: 100%;
    /* 272px - 358px */
    height: clamp(17em, 34vw, 22.375em);
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 17.625rem 17.625rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  #faq-2070 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #faq-2070 .cs-graphic {
    /* 64px - 112px */
    width: clamp(4rem, 8vw, 7rem);
    height: auto;
    position: absolute;
    bottom: 0;
    left: 2rem;
    z-index: 1;
  }
  #faq-2070 .cs-content {
    /* set text align to center if content needs to be center aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* left aligns content, set to center to center align the content */
    align-items: flex-start;
  }
  #faq-2070 .cs-text {
    /* 48px - 64px */
    margin-bottom: clamp(3rem, 6vw, 4rem);
  }
  #faq-2070 .cs-flex-group {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
  }
  #faq-2070 .cs-wrapper {
    position: relative;
  }
  #faq-2070 .cs-faq-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transform-style: preserve-3d;
    perspective: 900px;
    transition: transform 0.7s, opacity 0.3s, visibility 0.5s, top 0.3s, left 0.3s;
    /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
    transform-origin: top;
  }
  #faq-2070 .cs-faq-group.cs-hidden {
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
    opacity: 0;
    /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
    visibility: hidden;
    position: absolute;
    /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
    top: 0;
    left: 0;
    /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
    transform: scaleY(0);
  }
  #faq-2070 .cs-faq-group.cs-hidden .cs-faq-item {
    opacity: 0;
    transform: rotateX(270deg);
  }
  #faq-2070 .cs-faq-item {
    list-style: none;
    width: 100%;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    opacity: 1;
    border-bottom: 1px solid #e8e8e8;
    top: 0;
    transform: rotateX(0deg);
    transition: transform 0.6s, opacity 0.3s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(3) {
    transition-delay: 0.2s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(4) {
    transition-delay: 0.3s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(5) {
    transition-delay: 0.4s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(6) {
    transition-delay: 0.5s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(7) {
    transition-delay: 0.6s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(8) {
    transition-delay: 0.7s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(9) {
    transition-delay: 0.8s;
  }
  #faq-2070 .cs-faq-item:nth-of-type(10) {
    transition-delay: 0.9s;
  }
  #faq-2070 .cs-faq-item:last-of-type {
    border-bottom: none;
  }
  #faq-2070 .cs-faq-item.active {
    display: flex;
    flex-direction: column;
  }
  #faq-2070 .cs-faq-item.active .cs-button {
    color: var(--secondaryLight);
  }
  #faq-2070 .cs-faq-item.active .cs-arrows {
    background-color: var(--secondaryLight);
    border-color: var(--secondaryLight);
  }
  #faq-2070 .cs-faq-item.active .cs-icon {
    transform: rotate(180deg);
    filter: grayscale(1) brightness(1000%);
  }
  #faq-2070 .cs-faq-item.active .cs-item-p {
    height: auto;
    /* 20px - 24px bottom */
    /* 16px - 24px left & right */
    padding: 0 0 1.5rem 0;
    opacity: 1;
  }
  #faq-2070 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    padding: 1.5rem 4.25rem 1.5rem 0;
    background-color: transparent;
    color: var(--headerColor);
    border: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-2070 .cs-button:hover {
    cursor: pointer;
  }
  #faq-2070 .cs-arrows {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #BABABA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: border-color 0.3s, background-color 0.3s;
  }
  #faq-2070 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #faq-2070 .cs-button-text {
    width: 100%;
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
  #faq-2070 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    width: 90%;
    height: 0;
    margin: 0;
    padding: 0;
    /* clips the text so it doesn't show up */
    overflow: hidden;
    color: var(--bodyTextColor);
    opacity: 0;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
  .cs-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
    /* Adjust opacity as needed */
    background-color: lightgrey;
    overflow: hidden;
  }
  .cs-bg img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-2070:before {
    height: 80%;
  }
  #faq-2070 .cs-container {
    max-width: 80rem;
    align-items: flex-end;
  }
  #faq-2070 .cs-image-group {
    /* 8px - 16px */
    margin-bottom: clamp(-0.5rem, -3vw, -1rem);
  }
}
