/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */



/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-401 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        background-color: #1a1a1a;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (52/16rem);
        }

        .cs-content {
            text-align: left;
        }

        .cs-title {
            color: var(--headerColor);
        }

        .cs-form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-label {
            font-size: (14/16rem);
            width: 100%;
            color: var(--headerColor);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-label-2 {
            font-size: (14/16rem);
            width: 100%;
            color: var(--headerColor);
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            height: (56/16rem);
            font-family: 'Poppins', sans-serif;
            padding: 0;
            padding-left: (24/16rem);
            border-radius: (8/16rem);
            color: var(--headerColor);
            background-color: rgba(106, 66, 93, 0.25);
            backdrop-filter: blur(22.5px);
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: var(--bodyTextColorWhite);
                opacity: 0.6;
            }
        }

        .cs-textarea {
            min-height: (120/16rem);
            padding-top: (24/16rem);
            margin-bottom: (12/16rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--headerColor);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            text-transform: uppercase;
            width: (283/16rem);
            background-color: var(--headerColor);
            color: #fff;
            border: none;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }
        }

        .cs-right {
            max-width: (630/16rem);
            width: 100%;
            /* 16px - 24px */
            padding: clamp(1rem, 2.3vw, 1.5rem);
            border-radius: (24/16rem);
            background-color: #484848;
            display: flex;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: (24/16rem);
        }

        .cs-map {
            width: 100%;
            /* 300px - 425px */
            height: clamp(18.75rem, 63.4vw, 26.5625rem);
            border-radius: (24/16rem);
            /* clips the corners of the img tag */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-contact-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (8/16rem);
        }

        .cs-item {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-right: auto;
            margin-bottom: (16/16rem);
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
        }

        .cs-link,
        .cs-hours {
            /* 14px - 16px */
            font-size: clamp(0.775rem, 1vw, .8rem);
            line-height: 1.5em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
            font-family: 'Poppins', sans-serif;
        }

        .cs-link {
            &:hover {
                color: var(--secondaryLight);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-401 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            /* 44px - 80px */
            gap: clamp(2.75rem, 7vw, 5rem);
        }

        .cs-content {
            max-width: (522/16rem);
        }

        .cs-topper,
        .cs-title {
            text-align: left;
            margin-left: 0;
        }

        .cs-right {
            min-width: (360/16rem);
            width: 100%;
        }

        .cs-map {
            /* 250px - 400px */
            height: clamp(15.625rem, 30vw, 25rem);
        }

        .cs-submit {
            margin-left: 0;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-401 {
        .cs-email,
        .cs-phone {
            width: 48%;
        }

        .cs-right {
            width: 51.6%;
            /* prevent flexbox from squishing it */
            flex: none;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 64rem) {
    #contact-401 {
        .cs-contact-group {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: (0/16rem);
            row-gap: (8/16rem);
        }

        .cs-item {
            width: (260/16rem);
            justify-content: flex-start;
            &:nth-of-type(1) {
                width: 100%;
                text-align: left;
            }

            &:nth-of-type(3) {
                /* changing the order of our list so they are arranged like in the design */
                order: 4;
            }

            &:nth-of-type(4) {
                order: 2;
            }

            &:nth-of-type(5) {
                order: 5;
            }

            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: (306/16rem);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1661 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 28px - 40px */
            margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
        }
        
        .cs-picture {
            width: 100%;
            /* 320px - 600px */
            height: clamp(18.75rem, 43vw, 37.5rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
        
        .cs-item {
            list-style: none;
            text-align: left;
            padding: 0 0 (24/16rem) 0;
            margin: 0;
            border-bottom: 1px solid var(--primary);
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;

            &:last-of-type {
                padding: 0;
                border: none;
            }
        }

        .cs-number {
            font-size: (61/16rem);
            line-height: 1.2em;
            font-weight: 900;
            font-family: 'Montserrat', sans-serif;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
            color: var(--headerColor);
            opacity: .6;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            font-family: 'Montserrat', sans-serif;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            font-family: 'Poppins', sans-serif;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

    #cs-navigation {
        width: 100vw;


    #interior-header {
        max-width: 100vw;
        background-color: #fff;
        margin: 0;
    }
    }

    #steps-1661 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            /* 24px - 32px */
            padding: 0 clamp(1.5rem, 3vw, 2rem);
            grid-column: span 4;
            border-bottom: 0;
            border-left: 1px solid var(--primary);

            &:last-of-type {
                padding: 0 clamp(1.5rem, 3vw, 2rem);
                border-left: 1px solid var(--primary);
            }
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-strip-324 {
        padding: var(--sectionPadding);
        background: linear-gradient(0deg, rgba(106, 66, 93, 0.80) 0%, rgba(106, 66, 93, 0.60) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;

        .cs-stat-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (600/16rem);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            width: (290/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                .cs-picture {
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    transform: scale(1.05);
                }
            }
        }

        .cs-picture {
            width: (80/16rem);
            height: (80/16rem);
            /* 12px - 20px */
            margin-right: clamp(0.75rem, 3vw, 1.25rem);
            border-radius: 50%;
            border: 1px solid #f90;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition:
                background-color 0.3s,
                box-shadow 0.3s,
                transform 0.6s;
        }

        .cs-flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: (28/16rem);
            height: auto;
        }

        .cs-header {
            font-size: (20/16rem);
            color: var(--secondaryLight);
            font-weight: 900;
            line-height: 1.2em;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            margin-bottom: (12/16rem);
            display: block;
        }

        .cs-link,
        .cs-hours {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-decoration: none;
            color: var(--secondaryLight);
            font-family: 'Poppins', sans-serif;
            display: block;
        }

        .cs-link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #contact-strip-324 {
        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: (20/16rem);
            row-gap: (32/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-strip-324 {
        .cs-stat-group {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}

                                
                                
                                