---
title: 'Therapy in Central Vermont | Alpenglow Counseling | Burlington, VT'
description: 'Find compassionate therapy in Central Vermont with Alpenglow Counseling. Offering trauma-informed care, EMDR therapy, and support for life transitions, anxiety, and depression. In-person sessions in Burlington, VT, or virtual counseling available. Start your healing journey today.'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1951">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 375, height: 667}) | webp({quality: 50}) %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 1415, height: 722}) | webp %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Alpenglow Counseling</h2>
            <p class="cs-text">
                noun. al·​pen·​glow ˈal-pən-ˌglō : <strong>a reddish glow seen near sunset or sunrise on the summits of mountains.</strong>
            </p>
            <a class="cs-button-solid" href="/index#sbsr-1599">About Me</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-left">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 164, height: 323}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 302, height: 594}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 302, height: 594}) | webp %}" alt="Mountain at sunset" aria-hidden="true">
            </picture>
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/highlight.svg" alt="icon" width="169" height="100" loading="lazy" decoding="async">
            <picture class="cs-picture cs-right">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 164, height: 323}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 302, height: 594}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 302, height: 594}) | webp %}" alt="Another Mountain at Sunset" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-1599">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">About Me</span>
            <h2 class="cs-title">Finding a Path Forward</h2>
            <p class="cs-text">
                Rooted in the Green Mountains of Vermont, my therapy practice provides a space for individuals to have their lived experiences mirrored back to them with new tools and insight. I offer in-person counseling in downtown Burlington, Vermont, virtual appointments, and seasonal outdoor sessions.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/landing-about-2.jpeg" | resize({width: 343, height: 356}) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/landing-about-2.jpeg" | resize({width: 608, height: 459}) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/landing-about-2.jpeg" | resize({width: 608, height: 459}) | webp %}" alt="Portrait of Amber">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/landing-about-1.jpeg" | resize({width: 343, height: 356}) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/landing-about-1.jpeg" | resize({width: 608, height: 605}) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/landing-about-1.jpeg" | resize({width: 608, height: 459}) | webp %}" alt="Portrait of Amber">
            </picture>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">Specializing in</span>
                    <span class="cs-desc">life transitions, anxiety, grief, and trauma.</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1591">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 375, height: 995}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Why I Became a Therapist</h2>
            <p class="cs-text">
                Over the past decade, I've worked in a variety of roles where my task was to create a safe space. From outdoor education to adventure therapy and residential settings, I noticed how difficult it was for people to find momentum or settle into goal-focused work when they did not feel regulated in their environment. We live in a fast-paced world and I aim to create a calm environment, whether we meet virtually, in-person, or in nature, so you can slow down and work on what matters to you most.           
            </p>
            <a href="/about" class="cs-button-solid">Get to Know Me</a>
        </div>
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/moxie-amber-barn.jpeg" | resize({width: 380, height: 460}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/moxie-amber-barn.jpeg" | resize({width: 800, height: 1000}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/moxie-amber-barn.jpeg" | resize({width: 800, height: 1000}) | webp %}" alt="pancake" aria-hidden="true">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/amber-clover.jpeg" | resize({width: 380, height: 460}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/amber-clover.jpeg" | resize({width: 800, height: 550}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/amber-clover.jpeg" | resize({width: 800, height: 550}) | webp %}" alt="pancake" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!--
    NOTES: 

    This section overlaps the section above and below it with negative margins pulling the sections toward itself.

    1) on the section above this one, add a padding-bottom of 120px at 64rem (1024px) wide media query

    2) on the section below this one, add padding top 120px at 37.5rem (600px) wide media query

    This will create the space needed to account for the images overlapping their sections and allowing for more space so it doesn't get too cluttered.

    There's also a couple options with this one when it comes to background colors on the sections themselves. The bubbles are cut off with overflow:hidden on the cs-wrapper parent div.  Ideally, you add background-color: #f7f7f7 to any section below this one for contrast since you dont just want these clipped bubbles in the middle of all that white. If you want the section below this stitch to also be white, remove the overflow:hidden from the cs-wrapper div that wraps the bubbles. This will allow them to overflow their container and can float in their full display size against both white backgrounds.
-->

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1360">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/white-mt-1.jpeg" | resize({width: 686, height: 656}) | webp %}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/white-mt-1.jpeg" | resize({width: 590, height: 680}) | webp %}">
            <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/white-mt-1.jpeg" | resize({width: 590, height: 680}) | webp %}" alt="White mountains at golden hour.">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">Personalized Care for Your Growth and Healing</h2>
            <p class="cs-text">
                I’m passionate about helping younger adults who are navigating the ups and downs of life transitions, emotional struggles, and healing from past wounds. I understand how overwhelming it can be to face anxiety, depression, or the weight of unresolved issues, and I aim to create a warm, compassionate space where you can find clarity and peace. Many of the clients I work with are at pivotal moments in their lives, working to establish their own paths and identities, separate from the influences of those they grew up around. Whether you're dealing with anxiety, adjusting to major life changes, or healing from family of origin wounds and trauma, I'm here to provide a safe and supportive environment for every step of your journey.            
            </p>
        </div>
        <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/white-mt-2.jpeg" | resize({width: 686, height: 656}) | webp %}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/white-mt-2.jpeg" | resize({width: 590, height: 680}) | webp %}">
            <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/white-mt-2.jpeg" | resize({width: 590, height: 680}) | webp %}" alt="White mountains at sunset.">
        </picture>
    </div>
    <!--
        Since we cant use overflow:hidden on the section container to clip the bubbles when they overflow the edges we need to make a wrapper around the bubbles that are the same dimensions as the section container and add overflow: hidden to that element. We need to see the images overflow the section container, so this is the solution to that problem. 
    
    -->
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-346">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 375, height: 995}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Working With Me</span>
            <h2 class="cs-title">Compassionate Care Tailored to Your Needs</h2>
            <p class="cs-text">
                Together, we will identify your current challenges and utilize evidence-based therapeutic modalities to help you progress towards your goals. I aim to provide my clients with strategies they can make their own and feel confident in utilizing outside of sessions.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/how" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/individual.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Individual Therapy</h3>
                    <p class="cs-item-text">
                        Weekly or bi-weekly sessions, in-person and virtual availability.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/how" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/eye.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">EMDR</h3>
                    <p class="cs-item-text">
                        I am an EMDR trained therapist. EMDR is a powerful reprocessing tool effective in helping clients resolve trauma and rewire unhelpful belief systems.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/how" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/outdoors.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Outdoor Offerings</h3>
                    <p class="cs-item-text">
                        Walk & talk sessions in the warm months or Cross Country Skiing sessions integrating EMDR in the winter.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/how" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/trauma.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Trauma Therapy</h3>
                    <p class="cs-item-text">
                        Helping clients understand the neurobiology of trauma while re-processing their traumatic experience.
                    </p>
                </a>
            </li>
        </ul>
        <a href="/how" class="cs-button-solid">Learn More</a>
    </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-1371">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Alpenglow Counseling?</span>
            <h2 class="cs-title">Empathetic Support for Lasting Change</h2>
            <p class="cs-text">
                I take a client-centered approach, putting your needs and goals first. The therapeutic relationship we establish is fundamental in your growth process and I believe that my clients need to feel safe and comfortable to settle into their work.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/layer1.svg" alt="icon" width="24" height="24">
                    7 Years of Experience
                </h3>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/license.svg" alt="icon" width="24" height="24">
                    Vermont Licensed Clinical Mental Health Counselor
                </h3>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/emdr 1.svg" alt="icon" width="24" height="24">
                    EMDR Trained
                </h3>
            </li>
            <li class="cs-item-picture">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/amber-leaves.jpeg" | resize({width: 648, height: 856}) | webp %}">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/amber-leaves.jpeg" | resize({width: 630, height: 493}) | webp %}">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hand-shake.jpg" alt="people" width="590" height="418">
                </picture>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/community.svg" alt="icon" width="24" height="24">
                    In-Person Availability
                </h3>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/insurance-2-1.svg" alt="icon" width="24" height="24">
                    Accepts Insurance
                </h3>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/question.svg" alt="icon" width="24" height="24">
                    Have a Question for me?
                </h3>
                <p class="cs-item-text">
                    Reach out today.
                </p>
            </li>
        </ul>
        <a href="/approach" class="cs-button-solid">Learn More</a>
    </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-2070">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 375, height: 995}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/fall-leaves.png" | resize({width: 278, height: 189}) | webp %}">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/fall-leaves.png" | resize({width: 480, height: 358}) | webp %}">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/fall-leaves.png" | resize({width: 480, height: 358}) | webp %}" alt="leaves on the ground">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Here are Some</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <p class="cs-text">
                Get to know my practice.
            </p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-wrapper">
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Where are you located?
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <p class="cs-item-p">
                            My office is located in downtown Burlington in the One Main Landing building at the Waterfront. It is easily accessible via public transportation and there is easily available metered parking.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do you accept my insurance?
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <p class="cs-item-p">
                            I accept Blue Cross Blue Shield network plans and Medicaid/Green Mountain Care (Vermont). If you have another insurance plan, or prefer to pay out-of-pocket, I am able to provide a Superbill for possible reimbursement from you plan's out-of-network benefits.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Who do you work with?
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <p class="cs-item-p">
                            I work with younger adults, age 18 - mid-30's. Many of my clients are University students living in the Burlington area. I also work individuals experiencing transitions in their relationships, careers, and other life circumstances.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are some techniques or therapeutic approaches you use in your practice?
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <p class="cs-item-p">
                            My primary counseling modalities are EMDR, IFS informed, and Trauma-Focused Cognitive Behavioral Therapy. My work is fundamentally attachment-based. Together, we look at past and present attachment relationships to understand the interplay between our lived experiences and current beliefs and behaviors. I help clients establish a working set of skills they can utilize between sessions and build upon over time.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What does your client intake process look like?
                            </span>
                            <span class="cs-arrows" aria-hidden="true">
                                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/faq-down.svg" alt="graphic" width="24" height="24" aria-hidden="true">
                            </span>
                        </button>
                        <p class="cs-item-p">
                            My intake process involves an initial 15-minute virtual meeting for us both to decide if we would be a good fit working together. From there, I schedule an initial session and send you intake paperwork through an easy-to-use portal. During our first few sessions, we will get to know each other more, discussing your presenting concerns and establishing treatment goals.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>                       
                        
    {% include 'components/cta.html' %}
{% endblock %}