---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1951">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 375, height: 667}) | webp({quality: 50}) %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}">
        <img decoding="async" src="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Alpenglow Counseling</h2>
            <p class="cs-text">
                noun. al·​pen·​glow ˈal-pən-ˌglō : <strong>a reddish glow seen near sunset or sunrise on the summits of mountains.</strong>
            </p>
            <a class="cs-button-solid" href="/index#sbsr-1599">About Me</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-left">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 164, height: 323}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 302, height: 594}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 302, height: 594}) | webp %}" alt="Mountain at sunset" aria-hidden="true">
            </picture>
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/highlight.svg" alt="icon" width="169" height="100" loading="lazy" decoding="async">
            <picture class="cs-picture cs-right">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 164, height: 323}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 302, height: 594}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 302, height: 594}) | webp %}" alt="Another Mountain at Sunset" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-1599">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">About Me</span>
            <h2 class="cs-title">Finding a Path Forward</h2>
            <p class="cs-text">
                Rooted in the Green Mountains of Vermont, my therapy practice provides a space for individuals to have their lived experiences mirrored back to them with new tools and insight. I offer in-person counseling in downtown Burlington, Vermont, virtual appointments, and seasonal outdoor sessions.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/landing-about-2.jpeg" | resize({width: 343, height: 356}) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/landing-about-2.jpeg" | resize({width: 608, height: 459}) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/landing-about-2.jpeg" | resize({width: 608, height: 459}) | webp %}" alt="Portrait of Amber">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/landing-about-1.jpeg" | resize({width: 343, height: 356}) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/landing-about-1.jpeg" | resize({width: 608, height: 605}) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/landing-about-1.jpeg" | resize({width: 608, height: 459}) | webp %}" alt="Portrait of Amber">
            </picture>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">Specializing</span>
                    <span class="cs-desc">life transitions, anxiety, grief, and trauma.</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1591">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 375, height: 995}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp %}">
        <img decoding="async" src="{% getUrl "/assets/images/paper-texture.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Why I Became a Therapist</h2>
            <p class="cs-text">
                Over the past decade, I've worked in a variety of roles where my task was to create a safe space. From outdoor education to adventure therapy and residential settings, I noticed how difficult it was for people to find momentum or settle into goal-focused work when they did not feel regulated in their environment. We live in a fast-paced world and I aim to create and calm environment, whether we meet virtually, in-person, or in nature, so you can slow down and work on what matters to you most.            </p>
            <a href="" class="cs-button-solid">Get to Know Me</a>
        </div>
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/moxie-amber-barn.jpeg" | resize({width: 380, height: 460}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/moxie-amber-barn.jpeg" | resize({width: 800, height: 1000}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/moxie-amber-barn.jpeg" | resize({width: 800, height: 1000}) | webp %}" alt="pancake" aria-hidden="true">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/amber-clover.jpeg" | resize({width: 380, height: 460}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/amber-clover.jpeg" | resize({width: 800, height: 550}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/amber-clover.jpeg" | resize({width: 800, height: 550}) | webp %}" alt="pancake" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}