---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1951">
    <picture class="cs-bg">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 375, height: 667}) | webp({quality: 50}) %}">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}">
        <img decoding="async" src="{% getUrl "/assets/images/hero-bg.jpeg" | resize({width: 1415, height: 722}) | webp({quality: 70}) %}" alt="pancake" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Alpenglow Counseling</h2>
            <p class="cs-text">
                noun. al·​pen·​glow ˈal-pən-ˌglō : <strong>a reddish glow seen near sunset or sunrise on the summits of mountains.</strong>
            </p>
            <a class="cs-button-solid" href="">Our Menu</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-left">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 164, height: 323}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 302, height: 594}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/hero-left.jpeg" | resize({width: 302, height: 594}) | webp %}" alt="Mountain at sunset" aria-hidden="true">
            </picture>
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/highlight.svg" alt="icon" width="169" height="100" loading="lazy" decoding="async">
            <picture class="cs-picture cs-right">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 164, height: 323}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 302, height: 594}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/hero-right.jpeg" | resize({width: 302, height: 594}) | webp %}" alt="Another Mountain at Sunset" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}